    .top-section {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      margin-top: 66px
    }

    #video-container {
      position: relative;
      width: calc(50% - 0.5px);
      aspect-ratio: 16 / 9;
      background-color: #000;
      cursor: pointer;
      flex-shrink: 0;
    }

    #video-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #video-container .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }

    #video-container .play-button:hover {
      background: rgba(255, 255, 255, 0.9);
    }

    .image-grid {
      width: calc(50% - 0.5px);
      margin-left: 1px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1px;
    }

    .image-grid > * {
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }

    .image-grid img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      display: block;
      cursor: pointer;
    }

    .image-grid > * {
      aspect-ratio: 16 / 9;
    }

    .sub-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
    }

    .sub-grid img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    @media (max-width: 768px) {
      .top-section {
        flex-direction: column;
      }

      #video-container,
      .image-grid {
        width: 100%;
        margin-left: 0;
      }

      .image-grid {
        grid-template-columns: repeat(4, 1fr);
        aspect-ratio: auto;
        margin-top: 1px;
      }
    }

    @media (max-width: 600px) {
      .image-grid {
      grid-template-columns: repeat(2, 1fr);
      }
    }

    .cert-wrapper {
      position: relative;
      display: inline-block;
      font-family: sans-serif;
    }

    .cert-toggle {
      display: none;
    }

    .cert-popup {
      position: absolute;
      top: 105px;
      left: 50%;
      transform: translateX(-50%);
      width: 346px;
      aspect-ratio: 16 / 9;
      background: white;
      border: 1px solid #dd33ff;
      border-radius: 12px;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      display: none;
      z-index: 9999;
    }

    .cert-popup img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .cert-close {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 20px;
      color: #dd33ff;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
    }

    .cert-close:hover {
      background: rgba(255, 255, 255, 1);
    }

    .cert-hover-wrapper:has(.cert-label:hover) .cert-popup {
      display: block;
    }

    @media (hover: hover) {
      .cert-label:hover ~ .cert-popup {
        display: block;
      }
    }

    .cert-toggle:checked ~ .cert-popup {
      display: block;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 1px;
      margin-top: 30px;
      width: 100%;
      max-width: 100%;
      border-radius: 12px;
      overflow: hidden;
    }

    @media (max-width: 600px) {
      .container {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .member-info-table {
      width: 100%;
      max-width: 800px;
      border-collapse: collapse;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 14px;
      color: #333;
    }

    .member-info-table th {
      text-align: left;
      font-weight: normal;
      width: 100px;
      padding: 0px 0px 5px 0;
      color: #999;
    }

    .member-info-table td {
      padding: 0px 0px 5px 0;
    }

    .price-info-table {
      width: 100%;
      border-collapse: collapse;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 12px;
      color: #dd33ff;
      margin-bottom: 8px;
    }

    .price-info-table th {
      text-align: left;
      font-weight: normal;
      padding: 5px 0px 5px 8px;
      color: #dd33ff;
      border-bottom: 1px solid #ffa5fd;
    }

    .price-info-table td {
      padding: 0px 10px 0px 0px;
      border-bottom: 1px solid #ffa5fd;
      min-width: 68px;
    }

    .other-name {
      color: #999;
      font-size: 13px;
    }

    .image-box {
      aspect-ratio: 1 / 1;
      overflow: hidden;
    }

    .image-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .image-box a {
      display: block;
      width: 100%;
      height: 100%;
    }
  
    .about-section {
      max-width: 100%;
      margin: 0 auto;
    }

    .read-more {
      overflow: hidden;
      position: relative;
      overflow: hidden;
      height: 12.7em;
      transition: height 0.3s ease;
    }

    .read-more.expanded {
      height: auto;
    }

    .read-more.expanded::after {
      opacity: 0;
    }

    .read-more p {
      margin: 0;
    }

    .read-more::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.2));
      pointer-events: none;
      opacity: 1;
    }

    .read-toggle {
      color: #dd33ff;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
    }

    .read-toggle:hover {
      color: #f67bff;
    }

    .calendar-section {
      width: 100%;
      margin: 0 auto;
    }

    iframe.calendar {
      width: 100%;
      height: 600px;
      border: 0;
    }

    .lightbox {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #000000aa;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      flex-direction: column;
    }

    .lightbox.hidden {
      display: none;
    }

    .lightbox img {
      max-width: 100vw;
      max-height: 100vh;
      object-fit: contain;
      box-shadow: 0 0 15px rgba(255,255,255,0.2);
      border-radius: 15px;
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      background: rgba(255, 255, 255, 0.8);
      color: #dd33ff;
      font-size: 28px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .close-btn:hover {
      background: rgba(255, 255, 255, 1);
    }

    .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
      color: #fff;
      cursor: pointer;
      user-select: none;
      padding: 10px;
      border-radius: 5px;
      transition: background 0.3s;
    }

    .nav:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    .nav.left {
      left: 20px;
    }

    .nav.right {
      right: 20px;
    }
